.container {
    padding: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 0 0 0 !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

body {
    padding: 0 !important;
    margin: 0 !important;
}

.left-side {
    width: 100%;
    height: 100%;
}

.left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.right-side {
    background: #f9dce3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.form-box {
    width: 80%;
    max-width: 380px;
    text-align: center;
}

.logo {
    font-size: 40px;
    margin-bottom: 10px;
}

h2 {
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 1px;
}



input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid #e3b7c3;
    background: #fff;
    border-radius: 4px;
}

input:focus {
    outline: none;
    border-color: #d57a8c;
}


a {
    text-decoration: none;
    color: #6b4f4f;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}


button {
    width: 100%;
    padding: 12px;
    background: #c96a7c;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

button:hover {
    background: #b85b6d;
}


