body {
    background: #fff9f4;
    font-family: "Playfair Display", serif;
    padding-bottom: 120px;
}


header {
    background-color: #fee0e8;
    padding: 20px;
    display: flex;
    align-items: justified;
    justify-content: justified; 
    gap: 500px;
}

header img {
    height: 120px;
}


.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-btn {
    padding: 8px 25px;
    margin: 0 10px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #b86a7a;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

.nav-btn:hover {
    background: #e8b9c3;
}


.selected-btn {
    background: #c86a7a ;
    color: white ;
    border: none ;
}


.product-img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}


.dustbin-icon {
    width: 28px;
    cursor: pointer;
    margin-top: 10px;
}


.cart-logo {
    width: 90px;
    margin-right: 60px;
}


.proceed-btn {
    background: #c86a7a;
    color: white;
    padding: 12px 25px;
    border-radius: 10px;
    text-decoration: none;
}

.proceed-btn:hover {
    background: #a95666;
}


footer {
    background-color: #fee0e8;
    padding: 20px;
    font-size: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}