.thankyouMessage {
    text-align: center;
}

.checkout {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    padding-bottom: 30px;
}

/* Left side - customer details */
.left-customer-details {
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 350px;
    background-color: #fee0e8;
    border-radius: 12px;
}

.left-customer-details label {
    font-weight: 400;
    margin-top: 15px;
}

.left-customer-details input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #bbb;
    font-size: 14px;
}

#address-input {
    height: 60px;
}


/* Right side - payment method */
.right-payment-details {
    display: flex;
    flex-direction: column;
    width: 450;
    gap: 20px;
}

.payment-type {
    background-color: #fee0e8;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.method, .method-selected {
    flex: 1;
    background-color: #f7c9d5;
    text-align: center;
    border-radius: 8px;
    padding: 12px;
    font-weight: 500;
    cursor: pointer;
}

.method-selected {
    background-color: #b85b6d;
    color: #fffaef;
}

.card-details {
    background-color: #fee0e8;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.card-details label {
    font-weight: 400;
    margin-top: 15px;
}

.card-details input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #bbb;
    font-size: 14px;
}

.card-details .row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 15px;
}

.right-button {
    display: flex;
    justify-content: flex-end;
    padding: 0 25px 100px;
}

.payment-button {
    background-color: #c96a7c;
    color: #fffaef;
    padding: 12px 22px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 16px;
}

.payment-button:hover {
    background: #b85b6d;
}
