.categories {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.item {
    text-align: center;
}

.item img {
    display: block;
}

.item a {
    font-size: 20px;
    color: black;
    display: block;
    margin-top: 10px;
}

.product-card {
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
}

.product-card img {
    height: 250px;
    object-fit: cover;
}

header, footer {
    font-family: "Playfair Display", serif !important;
}

footer {
    padding: 10px 0;
}

footer .container p {
    margin: 5px 0;
}

.card-footer {
    text-align: center;
}
